In [1]:
from keras_tft import TFTForecaster, plot_probabilistic_forecast, preprocess_time_series, timeseries_cv_with_covariates
import pandas as pd

The dataset tracks the weekly sales of many Walmart stores from February 5, 2010 to October 26, 2012 as the forecasting scenario. This dataset is released under the Creative Commons 0 license. Although the original dataset tracked thousands of stores, weâ€™ll use a subset of only four stores.

In [2]:
FORECAST_HORIZON = 8
INPUT_LEN = 60  # 60 days of history 
EPOCHS = 15 # Number of epochs for training

# Walmart sales dataset
path = 'data/walmart_sales_small.csv'

In [3]:
CUTOFF_DATE = '2012-08-01'
# Preprocess data
# The function now returns history and the full prediction input (history + future)
data, pred_input, test_df, scaler = preprocess_time_series(
    cutoff_date=CUTOFF_DATE,
    file_path=path,
    forecast_horizon=FORECAST_HORIZON,
    static_covariates='Store'
)

data.head()

,id_column,timestamp,y,Temperature,Fuel_Price,CPI,Unemployment,Holiday_Flag
0,1,2010-02-05,0.390823,-1.594146,-1.433373,0.436887,0.903796,0
143,2,2010-02-05,0.538659,-1.732826,-1.433373,0.427909,1.125108,0
286,3,2010-02-05,0.036570,-1.371735,-1.433373,0.523818,0.154583,0
429,4,2010-02-05,0.538106,-1.499294,-1.372115,-1.774048,1.428651,0
144,2,2010-02-12,0.538905,-1.844032,-1.489919,0.431706,1.125108,1

In [4]:
pred_input.tail(10)

,id_column,timestamp,y,Temperature,Fuel_Price,CPI,Unemployment,Holiday_Flag
562,1,2012-10-12,0.0,-0.241363,0.991021,0.757735,-0.652496,0
563,2,2012-10-12,0.0,-0.373501,0.991021,0.748180,-1.061620,0
564,3,2012-10-19,0.0,0.442225,0.974529,0.851432,-1.199686,0
565,4,2012-10-19,0.0,-0.145203,1.012226,-1.651091,-3.387429,0
566,2,2012-10-19,0.0,0.091600,0.974529,0.749339,-1.061620,0
567,1,2012-10-19,0.0,0.084404,0.974529,0.758895,-0.652496,0
568,2,2012-10-26,0.0,0.203460,0.767195,0.749823,-1.061620,0
569,1,2012-10-26,0.0,0.162248,0.767195,0.759379,-0.652496,0
570,3,2012-10-26,0.0,0.522031,0.767195,0.851916,-1.199686,0
571,4,2012-10-26,0.0,-0.198843,0.786043,-1.649964,-3.387429,0